/* Fix Github and LinkedIn logo icon sizing */
.icon
{
    width: 40px;
    height: 40px;
    padding: 5px;
}

/* Adjust the size of our links in the nav bar */
.link-text-size-lg{
    font-size: 16px;
}


/* Force our Bitmoji image picture up in postition */
.bitmoji {
    position: relative;
    top: -100px;
}
