/* Fix Github and LinkedIn logo icon sizing */
.icon
{
    width: 40px;
    height: 40px;
    padding: 5px;
}

/* Adjust the size of our links in the nav bar */
.link-text-size-lg{
    font-size: 16px;
}


/* Change the margins of our card component */
.card-alignment {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

